@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: 'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    @apply bg-[#F9FAFB] text-gray-900;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    letter-spacing: -0.02em;
  }

  p {
    text-wrap: pretty;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Tiptap Table */
.prose table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.prose table td,
.prose table th {
  min-width: 1em;
  border: 1px solid #d1d5db;
  padding: 8px 12px;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}
.prose table th {
  font-weight: bold;
  text-align: left;
  background-color: #f3f4f6;
}
